{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<div class="container-fluid px-0">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/Id2IIl1jOB0/1366x620" class="d-block w-100 crsl" alt="...">
          <div class="absolute-div">
                <div class="carousel-caption">
                      <h3 style="font-size:2rem">Welcome To Our Shop </h3>
                      <h1 style="color:white; font-weight:bold; font-size:4rem"> IT'S NICE TO MEET YOU </h1>
                 </div>
          </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/dz9lOU2hdJY/1366x620" class="d-block w-100" alt="...">
      <div class="absolute-div">
                <div class="carousel-caption">
                      <h3 style="font-size:2rem">Welcome To Our Shop</h3>
                      <h1 style="color:white; font-weight:bold; font-size:4rem"> IT'S NICE TO MEET YOU </h1>
                 </div>
          </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/dGnRP2yBDos/1366x620" class="d-block w-100" alt="...">
      <div class="absolute-div">
                <div class="carousel-caption">
                      <h3 style="font-size:2rem">Welcome To Our Shop</h3>
                      <h1 style="color:white; font-weight:bold; font-size:4rem"> IT'S NICE TO MEET YOU </h1>
                 </div>
          </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/DLQCEFU-x00/1366x620" class="d-block w-100" alt="...">
      <div class="absolute-div">
                <div class="carousel-caption">
                      <h3 style="font-size:2rem">Welcome To Our Shop</h3>
                      <h1 style="color:white; font-weight:bold; font-size:4rem"> IT'S NICE TO MEET YOU </h1>
                 </div>
          </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/bwIqQ5qQhXs/1366x620" class="d-block w-100" alt="...">
      <div class="absolute-div">
                <div class="carousel-caption">
                      <h3 style="font-size:2rem">Welcome To Our Shop</h3>
                      <h1 style="color:white; font-weight:bold; font-size:4rem"> IT'S NICE TO MEET YOU </h1>
                 </div>
          </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/SoNaNOFT974/1366x620" class="d-block w-100" alt="...">
      <div class="absolute-div">
                <div class="carousel-caption">
                      <h3 style="font-size:2rem">Welcome To Our Shop</h3>
                      <h1 style="color:white; font-weight:bold; font-size:4rem"> IT'S NICE TO MEET YOU </h1>
                 </div>
          </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/dAAk8Aqd_-I/1366x620" class="d-block w-100" alt="...">
      <div class="absolute-div">
                <div class="carousel-caption">
                      <h3 style="font-size:2rem">Welcome To Our Shop</h3>
                      <h1 style="color:white; font-weight:bold; font-size:4rem"> IT'S NICE TO MEET YOU </h1>
                 </div>
          </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div></div>


{% comment %} Cards Gallary  {% endcomment %}

<div class="container my-2">
<h1 class="my-2 text-center mb-4 mt-4 mb-5" style="font-weight:bold; opacity:90%"> Our Best Products </h1>

      <div class="row row-cols-3 row-cols-sm-2 row-cols-md-3 g-3 ">
        <div class="col">
          <div class="card mb-3" style="margin-right:1rem">
              <img src="https://source.unsplash.com/D1YruV0KUDw/1600x900" class="d-block w-100">
            <div class="card-body">
              <p class="card-text">Best Branded Matreesses.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="margin-right:1rem">
            <img src="https://source.unsplash.com/GWFFvub7Y1U/1600x900" class="d-block w-100">
            <div class="card-body">
              <p class="card-text">Very Smooth Branded Pillows.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://source.unsplash.com/5oD10H__hEg/1600x900" class="d-block w-100">
            <div class="card-body">
              <p class="card-text">We Made High Quality Sofas</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="margin-right:1rem">
            <img src="https://source.unsplash.com/zbdB3IHRcso/1600x900" class="d-block w-100">
            <div class="card-body">
              <p class="card-text"> Premium Quality Blankets.</p>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="margin-right:1rem">
            <img src="https://source.unsplash.com/QhipBaBZDuA/1600x900" class="d-block w-100">
            <div class="card-body">
              <p class="card-text"> High Quality Wallpapers.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://source.unsplash.com/dbH_vy7vICE/1600x900" class="d-block w-100">
            <div class="card-body">
              <p class="card-text"> Home Made Sofas.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="margin-right:1rem">
            <img src="https://source.unsplash.com/HHZM3eMEc9Q/1600x900" class="d-block w-100">
            <div class="card-body">
              <p class="card-text"> Customized Curtains </p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="margin-right:1rem">
           <img src="https://source.unsplash.com/-Y4SQToPCYU/1600x900" class="d-block w-100">
            <div class="card-body">
              <p class="card-text">  Blinds </p>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://source.unsplash.com/ysDq0fY-bzo/1600x900" class="d-block w-100">
            <div class="card-body">
              <p class="card-text"> Wooden Planks.</p>
              <div class="d-flex justify-content-between align-items-center">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<footer> 
    <div class="services" style="position:absolute">
        <h6 style="color:white"> Our Services </h6>
        <ul style="color:white; text-decoration:none; list-style:none">
            <li> Matresses </li>
            <li> Ready Made Curtains </li>
            <li> Customized Curtains </li>
            <li> Wallpapers </li>
            <li> Blinds </li>
            <li> Yoga Mats </li>
            <li> Metro Turf Mats </li>
            <li> Sofas </li>
        </ul>
    </div>

    <div class="adress">
        <h6 style="color:white"> Our Adress </h6>
        <ul style="color:white; text-decoration:none; list-style:none">
            <li> ROHIT HOME_DECOR </li>
            <li> Ghate Complex, </li>
            <li> Gala No- 1 to 6, </li>
            <li> Bhadgaon Road,Chalisgaon </li>
            <li> Dist- Jalgoan,424101 </li>
        </ul>
    </div>

    <div class="email">
        <h6 style="color:white;text-decoration:none"> rohitpatil7@gmail.com </h6>
        <h6 style="color:white; margin-left:2rem; text-decoration:none"> 8208932035 </h6>
    </div>

    <div class="brands">
        <h6 style="color:white"> Our Top Brands </h6>
        <ul style="color:white; text-decoration:none; list-style:none">
            <li> D-Decor </li>
            <li> Kurlon </li>
            <li> Sleepwell </li>
            <li> Springfit </li>
            <li> Century Foam </li>
        </ul>
    </div>
</footer>
{% endblock body %}







